body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  margin: 0 auto;
  width: 700px;
}

#likeList {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 100%;
  border-right: 1px solid lightgray;
  background-color: white;
}

#likeList header {
  text-align: center;
}

#likeList .movie {
  margin: 10px;
  position: relative;
}

#likeList .link img {
  border-radius: 10px;
  width: 100px;
  height: auto;
}

#movieList {
  display: block;
}

#movieList .movie {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  height: 250px;
}

#movieList > header {
  font-size: x-large;
  text-align: center;
  margin: 10px 0px;
}

#movieList .movie header {
  font-size: larger;
  padding: 5px 0px 20px 0px;
}

#movieList img {
  float: left;
  margin: 15px 25px 15px 15px;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
}

#movieList .likeUnlike {
  float: right;
  font-size: small;
}

.hidden {
  display: none;
}
